{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
  <h1>Liste des Posts</h1>
  {% for post in posts %}
     <h2>{{ post.title }}</h2>
     <p>{{ post.content }}</p>
  {% endfor %}
{% endblock %}
